__pycache__/
*.bak*
*.log
hotkeys_log.txt
settings.json
profiles.json
hotkeys.json
move_base.json
*_original.json
game_builds.json
items_game.json
icons_export/
release/_build/
release/_dist/
release/DuneShark/
release/*.zip
nexus_api_key.txt
